# --- App Dependencies ---
asgiref==3.11.1
Django==6.0.2
djangorestframework==3.17.1
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3

# --- Test Dependencies ---
pytest==9.0.2
pytest-django==4.12.0
pytest-cov==7.1.0
pytest-playwright==0.7.2